* {
  box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #210145;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#score {
  margin-top: 20px;
  color: #ffffff;
}

.popup {
  width: 600px;
  height: 450px;
  background: #ffffff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 5px solid #5473da;
  padding: 20px;
  color: #444649;
  box-shadow: 10 10 30px #444649;
}

#restart {
  font-size: 2em;
  padding: 10px 30px;
  background: #7a908f;
  border: 5px solid #5473da;
}

#restart:hover {
  cursor: pointer;
  background: #ff7f50;
  color: #ffffff;
}

.winner h2 {
  font-size: 2.5em;
  color: #12b41f;
}

.winner p {
  color: #ff7f50;
  text-transform: uppercase;
  font-size: 3em;
}

.hidden {
  display: none;
}